[user]
	name = Fabrizio Fasanando
	email = 62360034+fabriziofs@users.noreply.github.com
	signingkey = 62360034+fabriziofs@users.noreply.github.com 
[color]
	ui = true
[core]
	pager = less
	excludesfile = /home/fabrizio/.gitignore_global

[commit]
	gpgsign = true

[tag]
	gpgSign = true
[init]
	defaultBranch = main
